@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rubik&display=swap');

*{
  box-sizing: border-box;
}

body{ 
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

img{
  width: 40px;
  cursor: pointer;
}

#content {
  display: flex;
  flex-direction: column;
}

#content.blur {
  filter: blur(6px);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  font-size: 40px;
  background-color: rgb(196, 77, 77);
  color: white;
}

.page-main {
  display: flex;
  justify-content: flex-start;
  height: 90vh;
}

.nav-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 260px;
  text-align: center;
  font-size: 24px;
  background-color: rgb(255, 248, 240);
  padding: 30px 10px;
}

.nav-panel div {
  cursor: pointer;
}

.nav-panel div :hover {
  font-weight: 800;
  color: rgb(24, 1, 55);
}

.panel-top {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.panel-bottom {
  border-top: solid black 2px;
  padding-top: 10px;
}

.todo-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 40px;
}

.todo-container img {
  width: 24px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  border: solid black 2px;
  padding: 12px 36px;
  font-size: 18px;
  background-color: rgb(249, 244, 251);
  gap: 10px;
}

.todo.checked {
  opacity: 0.5;
}

#empty-project {
  font-size: 24px;
  cursor: pointer;
}

#empty-project:hover {
  font-weight: 700;
  color:rgb(151, 0, 0);
}

.form-container, .project-form-container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  padding: 38px;
  box-shadow: 0 5px 30px rgba(0,0,0,.3);
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}

.form-container.show, .project-form-container.show {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}

.todo-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

